<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h1>Banner for the Angular page</h1>
                <hr>
                <app-game-control></app-game-control>
                <hr>
                <app-details></app-details>
                <hr>
                <app-user></app-user>
                <hr>
                <app-servers></app-servers>
                <hr>
                <app-messages></app-messages>
                <hr>
        </div>
    </div>
</div>
