<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h1>Banner for the Angular page</h1>
                <hr>
                
                    <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
                    <br><br>
                    <ul class="list-group">
                        <div class="div" *ngIf="onlyOdd">
                            <li class="list-group-item"
                            [ngClass]="{odd : odd % 2 !== 0}"
                            *ngFor="let odd of oddNumbersDirectives">
                            {{odd}}
                            </li>
                        </div>
                        <div class="div" *ngIf="!onlyOdd">
                            <li class="list-group-item"
                            [ngClass]="{even : even % 2 === 0}"
                            *ngFor="let even of evenNumbersDirectives">
                            {{even}}
                            </li>
                        </div>
                        
                    </ul>
                    <!-- <ng-template [ngif]="onlyOdd">
                      <p>Only odd</p>
                    </ng-template> -->
                  
                <hr>
                <p appBasicHighlight>Style me with basic-Highlight Directive!</p>
                <p appBetterHighlight>Style me with better-Highlight Directive!</p>
                <hr>
                <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
                    </div>
                </div>
                <div class="col-xs-12">
                        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
                </div>
                <hr>
                <app-details></app-details>
                <hr>
                <app-user></app-user>
                <hr>
                <app-servers></app-servers>
                <hr>
                <app-messages></app-messages>
                <hr>
        </div>
    </div>
</div>
